<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>
        <div class="container">
          <h1>Nuestros Limones</h1>
              <%- include('includes/tarjeta_limones.ejs') %>
        </div>
        <div><p>Ultimo Limon agregado:<%- ultimo_agregado %></p></div>
<%- include('includes/foot.ejs') %>
      


